body, html {
    overflow-x: auto;
    overflow-y: auto;
}

#map { position:absolute; top:0; bottom:0; right:0; width:100%; }


button {
  position: absolute;
  z-index: 1;
  margin: 10px 10px;
}

#fly-button {
  width: 100px;
  margin: 10px 10px;
}

#reset-button {
  width: 100px;
  margin: 60px 10px;
}

.marker {
  display: block;
  border: none;
  cursor: pointer;
  padding: 0;
}



